h1, h2 {
  font-family: Lato;
}
.body_div{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 14px;
  font-family: Lato;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.title_div{
  float: left;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
}
.btn_div{
  float: left;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  overflow-y: auto;
}
.btn_class{
  float: left;
  padding: 12px;
  background: #ffe600;
  border: none;
  border-radius: 5px;
  margin: 0px 14px 14px 0px;
  font-size: 15px;
  outline:none;
  cursor: pointer;
}
.btn_class:hover{
  background: #444;
  color: #fff;
}

.result_div_overlay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.result_div{
  position: fixed;
  top: 4%;
  left: 4%;
  width: 92%;
  height: 92%;
  background-color: #fff;
  border-radius: 5px;
  z-index: 20;
  overflow: auto;
}
.close_icon_div{
  position: fixed;
  top: 6%;
  right: 8%;
  width: 26px;
  height: 32px;
  z-index: 30;
  cursor: pointer;
}
.result_title{
  float: left;
  width: calc(100% - 28px);
  padding: 50px 14px 14px 14px;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
}
.result_content,.result_answer{
  float: left;
  width: calc(100% - 28px);
  padding: 20px 14px 14px 14px;
  font-family: Lato;
  font-size: 15px;
}
h3,h4{
  padding: 14px 0px;
  margin: 0px
}